@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {

    background-image: url("assets/image/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box {
    position: absolute;
    top: 0;
    height: 644px;
    width: 100%;
    opacity: 0.69;
    background-color: black;
}

nav {

    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100px;
    /* background-color: rgb(238, 5, 5);  */
}

nav img {
    color: rgb(243, 4, 4);
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.front-txt {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    padding: 0 30px;
    gap: 7px;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
}


.front-txt> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.front-txt> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.front-txt> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(70, 69, 69);
    position: relative;
    z-index: 20;
}



.main>.front-txt>.signIn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main input {
    color: white;
    padding: 8px 100px 8px 15px;
    font-size: 12px;
    border-radius: 4px;
    background: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(252, 252, 252, 0.5);

}

.btn {
    padding: 3px 30px;
    font-weight: 500;
    font-size: 17px;
    color: white;
    background-color: rgba(255, 255, 255, 0.055);
    border: 0.9px solid rgba(255, 255, 255, 0.562);
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 600;
}

.btn-red-sm {
    background-color: red;
    color: white;
    padding: 3px 25px;
}

section.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secimg {
    position: relative;
}

.secimg>img {
    width: 555px;
    position: relative;
    z-index: 10;

}

.secimg>video {
    position: absolute;
    top: 116px;
    width: 410px;
    right: 73px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;

}

section.first>div>:nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div>:nth-child(2) {
    font-size: 24px;
}

section.fourth>div.text>span {
    gap: 20px;
    font-size: 19px;
}

section.fourth>.text>#header {
    font-size: 43px;
}

.faq {
    /* display: flex;
    flex-direction: column; */
    /* gap: 10px; */
    /* align-items: center;
    justify-content: center; */
    color: white;
    padding: 34px;
    background-color: black;
}

.faq>h2 {
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-bottom: 24px;

}

.faq>.faq-box {
    color: white;
    background-color: rgb(70 70 70 / 65%);
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    cursor: pointer;

    /* flex-direction: column; */
    /* gap: 5px; */
    /* justify-content: center;
    align-items: center; */
    padding: 24px;
    margin-bottom: 10px;
    transition: all 0.3s ease-out;
}

.faq>.faq-box:hover {
    background-color: rgba(65, 65, 65, 1);
}

.faq>.faq-box>span {
    /* width: 50vw; */
    /* padding: 10px 50px; */

    font-size: 23px;
    font-weight: 400;

}

footer {
    padding: 30px 10px;
}

footer>ul.grid-container {
    list-style: none;
    text-decoration: none;
    max-width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

footer ul.grid-container> :nth-child(1) {
    grid-column: span 4;
    color: white;
    text-decoration: none;

}

footer ul.grid-container>li>a {
    color: rgb(165, 162, 162);
    font-size: 14px;
}

footer ul.grid-container>li.button {
    padding-top: 40px;

}

@media screen and (max-width: 1300px) {
    nav {
        max-width: 90vw;
    }

    section.first> :nth-child(1) {
        padding: 40px 0 15px 0;
        gap: 10px;
    }

    section.first>div {
        padding: 0;
    }

    section.first> :nth-child(2) {
        padding: 0px 0 45px 0;
    }

    .front-txt> :nth-child(1) {
        font-size: 32px;

    }

    section.first>div>:nth-child(1) {
        font-size: 40px;
        font-weight: bolder;
    }

    section.fourth>.text>#header {
        font-size: 40px;
    }

    section.fourth>div.text>span {
        gap: 20px;
        font-size: 18px;
    }

    section.first> :nth-child(2) {
        padding: 0px 0 45px 0;
        gap: 11px;
    }

    section.first>div>:nth-child(2) {
        font-size: 19px;
    }

    .front-txt> :nth-child(2) {
        font-size: 18px;
    }

    .front-txt> :nth-child(3) {
        font-size: 18px;
    }


    section.first {
        flex-wrap: wrap;
        text-align: center;
    }

    .secimg img {
        width: 305px;
    }

    .secimg video {
        width: 222px;
        top: 47px;
        left: 40px;
    }

    .main input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
}

@media screen and (max-width: 800px) {

    footer>ul.grid-container {
        grid-template-columns: 1fr 1fr;
    }

    footer ul.grid-container> :nth-child(1) {
        grid-column: span 2;

    }
}

@media screen and (max-width: 520px) {

    nav img {
        width: 104px;

    }
    .main input {
        max-width: 250px;
    }

    .btn {
        padding: 3px 30px;
        font-size: 12px;
    }

    .btn-red {

        padding: 3px 19px;
        font-size: 13px;
    }

    .front-txt> :nth-child(1) {
        font-size: 28px;
    }

    .front-txt> :nth-child(2) {
        font-size: 16px;
    }

    .front-txt> :nth-child(3) {
        font-size: 15px;
    }

    .main>.front-txt>.signIn {
        flex-direction: column;
    }

    section.first>div>:nth-child(1) {
        font-size: 31px;
        font-weight: bolder;
    }

    section.first>div>:nth-child(2) {
        font-size: 14px;
    }

    .faq>.faq-box>span {
        font-size: 17px;
        font-weight: 400;
    }

    .faq>.faq-box>svg {
        width: 22px;
        height: 22px;
    }

    .faq>.faq-box {
        gap: 0px;
    }


}

@media screen and (max-width: 390px) {

    nav {
        justify-content: center;
        gap: 10px;
        padding: 26px 0 0 0;
        flex-direction: column;
    }

    nav img {
        width: 204px;
        padding-top: 20px;
    }

    .front-txt> :nth-child(1) {
        font-size: 27px;
        padding-bottom: 16px;

    }

    section.first>div>:nth-child(1) {
        font-size: 27px;
        font-weight: bolder;
    }

    section.first>div>:nth-child(2) {
        font-size: 12px;
    }

    .faq>.faq-box {
        gap: 0px;
    }

    .faq>.faq-box>span {
        font-size: 13px;
        font-weight: 400;
    }

    .faq>.faq-box>svg {
        width: 17px;
        height: 17px;
    }
}



/* @media screen and (max-width: 1024px) {

    .main {
        background-size: cover;
    }
}

@media screen and (max-width: 540px) {
    nav img {
        width: 118px;
    }

    .front-txt> :nth-child(1),
    .front-txt> :nth-child(2) {
        font-size: 35px;
        font-weight: 800;
        text-align: center;
    }

    front-txt> :nth-child(3) {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    .main input {
        padding: 8px 122px 8px 15px;
        font-size: 16px;
    }
}




@media screen and (max-width: 850px) {
    nav img {
        width: 120px;
    }

    .main {
        height: 57vh;
    }

    .main .box {
        height: 57vh;
    }

    .main input {
        padding: 3px 80px 3px 15px;
        font-size: 16px;

    }

    .front-txt> :nth-child(1),
    .front-txt> :nth-child(2) {
        font-size: 48px;
        font-weight: 800;
        text-align: center;
    }

    .front-txt> :nth-child(3) {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }

    .btn {
        padding: 3px 31px;
        font-weight: 500;
        font-size: 16px;

    }

    .btn-red-sm {
        background-color: red;
        color: white;
        padding: 3px 23px;
    }
}





@media screen and (max-width: 540px) {
    nav img {
        width: 78px;
    }

    .main {
        height: 57vh;
    }

    .main .box {
        height: 57vh;
    }


    .main input {
        padding: 3px 58px 3px 15px;
        font-size: 9px;
    }

    .front-txt> :nth-child(1),
    .front-txt> :nth-child(2) {
        font-size: 25px;
        font-weight: 800;
        text-align: center;
    }

    .front-txt> :nth-child(3) {
        font-size: 13px;
        font-weight: 400;
        text-align: center;
    }

    .btn {
        padding: 3px 28px;
        font-weight: 500;
        font-size: 9px;

    }

    .btn-red-sm {
        background-color: red;
        color: white;
        padding: 3px 23px;

    }
}

@media screen and (max-width: 430px) {
    .main .box {
        height: 56.8vh;
    }

    .front-txt {
        height: calc(100% - 87px);
        flex-direction: column;
    }

    nav {
        flex-direction: column;
    }

    nav img {
        width: 172px;
    }

    .main input {
        padding: 12px 93px 12px 15px;
        font-size: 12px;
    }

    .front-txt> :nth-child(1),
    .front-txt> :nth-child(2) {
        font-size: 30px;
        font-weight: 900;
        text-align: center;
    }

    .main>.front-txt>.signIn {
        flex-direction: column;
        margin-top: 68px;

    }


    .front-txt> :nth-child(3) {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

    .btn {
        padding: 3px 28px;
        font-weight: 500;
        font-size: 11px;

    }

    .btn-red {
        padding: 6px 15px;
        font-size: 12px;
    }

    .btn-red-sm {
        background-color: red;
        color: white;
        padding: 3px 23px;

    }
}
 */

/* .front-txt> span.first {
    font-size: 48px;
    font-weight: 900;
 } */
